@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

div {
  display: block;
}

.header {
  position: fixed;
  height: 70px;
  width: 100%;
  z-index: 101;
  padding: 0 20px;
}

.nav {
  max-width: 95%;
  width: 100%;
  margin: 0 auto;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.nav_logo {
  font-size: 28px;
  vertical-align: middle;
  color: #0e505e;
  font-weight: 550;
}

.nav .button{
    border: 0;
    cursor: pointer;
    height: 45px;
    padding: 10px;
    overflow: visible;
    position: absolute;
    background-color: transparent;
    font-size: 22px;
    transition: all 0.2s ease-out;
}

.nav .button.logout{
    top: 10px;
    right: 24px;
    width: 45px;
}

.nav .button.burger{
    top: 10px;
    left: 24px;
    width: 45px;
}

.button {
  padding: 5px 10px;
  background: transparent;
  border-radius: 0px;
  cursor: pointer;
  color: #000000;
  border: none;
  width: 100%;
  font-size: 16px;
}
.button.selected{
    transition: all 0.1s ease-out;
    border-bottom: 3px solid #0e505e;
}
.button.logout:hover{
    color: #ff0000;
}
.button.burger:hover{
    color: #0a7388;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #d1d1d1!important;
    border-radius: 6.5px;
}

::-webkit-scrollbar-track {
    background-color: #fff!important;
    border-radius: 0;
}

.tab-control{
    padding: 6px 14px;
    display: flex;
    width: 100%;
}

.button:active {
  transform: scale(0.98);
}

/* Home */
.citizen-home {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position: center;
}

.home::before {
  content: "";
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.35);
  z-index: 100;
}

/* General Form Styling */
.mobile-selections {
  position: absolute;
  height: 85vh;
  max-width: 430px;
  width: 100%;
  top: 50%;
  left: 50%;
  z-index: 101;
  background: #fff;
  padding: 10px;
  border-radius: 12px;
  transition: all 0.4s ease-out;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
  overflow: hidden;
  overflow-y: scroll;
}

ul{
    list-style-type: none;
}

.requests-box{
    padding: 10px;
    margin-top: 5px;
}

.list-item{
  position: relative;
  width: 100%;
  padding: 10px; 
  border: 1px solid #525151;
  border-radius: 6px;
  background: #ffffff;
}

.list-item{
  font-size: 16px;
}

.item-title{
  display: flex;
  justify-content: space-between;
}

.item-title i.trash{
  color: #9e1414;
  cursor: pointer;
}

.people, .status, .creation-day{
  font-size: 12px;
}

.people{
  padding-top: 5px;
}
.status{
  padding-bottom: 5px;
}

.requests-tab{
    margin-top: 10px;
}

.add-req{
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  font-weight: 700;
  font-size: 15px;
}

.add-req i.create{
    font-size: 24px;
    cursor: pointer;
    margin-left: 10px;
    transition: all 0.1s ease-out;
  }

.add-req i.create:hover{
    color:#0a7388;
}

@media screen and (min-width:640px) {
  .form_container {
    max-width: 500px;
  }

  .input-box {
    margin-top: 20px;
  }
}