@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

div {
  display: block;
  overflow-x: hidden;
}

.header {
  position: fixed;
  height: 70px;
  width: 100%;
  z-index: 101;
  background-color: #ffffff;
  padding: 0 10px;
}

.nav {
  max-width: 95%;
  width: 100%;
  margin: 0 auto;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: #ffffff;
  border-bottom: 2px solid #000000;
}

.nav_logo {
  font-size: 28px;
  vertical-align: middle;
  color: #0e505e;
  font-weight: 550;
}

.nav-options {
  font-size: 16px;
  font-weight: 450;
  display: none;
  justify-content: space-between;
  margin-right: 40px;
}

.nav-options.active {
  display: flex;
  justify-content: space-between;
}

.option{
  padding: 10px;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}
.option:hover{
  background-color: #0a7388;
  border-radius: 5px;
  color: #fff;
}
.nav .button {
  border: 0;
  cursor: pointer;
  height: 45px;
  padding: 10px;
  overflow: visible;
  position: absolute;
  background-color: transparent;
  font-size: 22px;
  transition: all 0.2s ease-out;
}

.nav .button.logout {
  top: 10px;
  right: 24px;
  width: 45px;
}

.nav .button.burger {
  top: 10px;
  left: 24px;
  width: 45px;
}

.button {
  padding: 5px 10px;
  background: transparent;
  cursor: pointer;
  color: #000000;
  border: none;
  width: 100%;
  font-size: 16px;
}

.button:active {
  transform: scale(0.98);
}

.button.selected {
  transition: all 0.1s ease-out;
  border-bottom: 3px solid #0e505e;
  font-weight: 550;
}

.button.logout:hover,
.cancelr:hover,
.cancelo:hover,
.broomr:hover,
.broomo:hover {
  color: #ff0000;
}

.button.burger:hover {
  color: #0a7388;
}

i.burgeri,
i.burgerx {
  display: none;
}

i.burgeri.active,
i.burgerx.active {
  display: block;
}

.tab-control {
  padding: 10px 0px;
  padding-top: 20px;
  display: flex;
  width: 100%;
}

/* Home */
.citizen-home {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position: center;
}

.burger-container {
  position: absolute;
  height: 85vh;
  max-width: 620px;
  width: 100%;
  top: 50%;
  left: 50%;
  background: #ffffff;
  padding: 10px;
  transition: all 0.4s ease-out;
  pointer-events: auto;
  display: none;
  transform: translate(-50%, -50%) scale(1);
  z-index: 1;
}

.burger-container.active {
  display: block;
}

.burger-menu {
  position: fixed;
  text-align: center;
  padding: 35px;
  max-width: 620px;
  width: 100%;
  top: 20%;
}

.burger-item {
  position: relative;
  width: 100%;
  font-size: 24px;
  padding: 20px;
  font-weight: 500;
  cursor: pointer;
  text-align: center;
}

.burger-item:hover {
  background: #0a73888f;
  border-radius: 7px;
  transition: 0.2s ease-in;
}

/* General Form Styling */
.module {
  position: absolute;
  height: 85vh;
  max-width: 620px;
  width: 100%;
  top: 50%;
  left: 50%;
  background: #ffffff;
  padding: 10px;
  transition: all 0.4s ease-out;
  pointer-events: auto;
  display: none;
  transform: translate(-50%, -50%) scale(1);
}

.module.active {
  display: block;
}

.requests-tab,
.announcements-tab,
.offers-tab {
  margin-top: 10px;
  display: none;
}

.requests-tab {
  margin: 0;
}

.requests-tab.active,
.announcements-tab.active,
.offers-tab.active {
  display: block;
}

ul {
  list-style-type: none;
}

.requests-box,
.announcements-box,
.offers-box {
  background: #e0e0e0;
  border-radius: 5px;
  padding: 10px;
  overflow-y: scroll;
}

.requests-box,
.offers-box {
  display: none;
}

.requests-box.active,
.offers-box.active {
  display: block;
}

.list-item,
.requests-form,
.offers-form {
  position: relative;
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 15px;
  border: 1px solid #525151;
  border-radius: 6px;
  background: #ffffff;
  font-size: 16px;
}

.requests-form,
.offers-form {
  display: none;
}

.requests-form.active,
.offers-form.active {
  display: block;
  position: sticky;
  margin-top: 30%;
}

.cancelbtn,
.clrbtn {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.clr-text{
  padding-left: 5px;
  margin-bottom: 5px;
}

.cancelr,
.cancelo,
.broomr,
.broomo {
  cursor: pointer;
  font-size: 18px;
}
.broomr,
.broomo{
  margin-top: 3px;
}

.item-title {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
}

.item-title i.trash {
  color: #9e1414;
  cursor: pointer;
}

.people,
.status,
.datetime {
  font-size: 14px;
}

.people {
  padding-top: 5px;
}

.status {
  padding-bottom: 5px;
}

.announcements-list .datetime {
  padding-bottom: 5px;
}

.text {
  font-size: 14px;
}

.add-req {
  display: none;
}

.add-req.active,
.make-offer {
  display: flex;
  justify-content: flex-end;
  padding: 5px;
  font-weight: 700;
  font-size: 15px;
}

.make-offer {
  padding: 0px;
}

.add-req.active i.create,
.make-offer i.offer {
  font-size: 24px;
  cursor: pointer;
  margin-left: 10px;
  transition: all 0.1s ease-out;
}

.make-offer i.offer {
  font-size: 18px;
}

.add-req.active i.create:hover,
.make-offer i.offer:hover {
  color: #0a7388;
}

.item-select {
  border: none;
  border-bottom: 1px solid #7070708f;
}

.item-drop-sel {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.item-btn,
.cat-btn {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  font-size: 16px;
  border: none;
}

.item-btn:hover,
.cat-btn:hover,
.item-btn.selected,
.cat-btn.selected {
  border-bottom: 2px solid #0e505e;
}

.content {
  display: none;
  background: #fff;
}

.content.active {
  display: block;
}

.content .search {
  position: relative;
}

.search i {
  top: 50%;
  left: 10px;
  color: #0e505e;
  font-size: 20px;
  pointer-events: none;
  transform: translateY(-50%);
  position: absolute;
}

.search input {
  height: 30px;
  width: 100%;
  outline: none;
  font-size: 14px;
  border-radius: 5px;
  padding: 0 20px 0 40px;
  border: 1px solid #B3B3B3;
}

.search input:focus {
  padding-left: 42px;
  border: 2px solid #0e505e;
}

.search input::placeholder {
  color: #bfbfbf;
}

.item-options,
.category-options {
  margin-top: 10px;
  max-height: 150px;
  overflow-y: auto;
  padding-right: 7px;
}

.item-options,
.category-options {
  display: none;
}

.item-options.active,
.category-options.active {
  display: block;
}

.item-options li,
.category-options li {
  height: 30px;
  font-size: 14px;
  cursor: pointer;
}

.item-options li:hover,
li.selected,
.category-options li:hover,
li.selected {
  border-radius: 5px;
  background: #f2f2f2;
}

.item,
.cat {
  padding: 5px;
}

.down{
  margin-top: 5px;
  margin-left: 5px;
}


.field.address,
.emergency-num{
  display: none;
}

.field.address.active,
.emergency-num.active{
  display: block;
  border: #7070704b solid 1px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border-radius: 5px;
}

.field.address.drop.active,
.phone-drop-cont{
  display: block;
  position: absolute;
  width: 350px;
  background-color: #fff;
  border-radius: 6px;
  height: 150px;
  border: solid 1px #70707042;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.burger-menu .button,
.field.address.drop.active .button{
  margin-top: 5px;
  background: #0a7388;
  border-radius: 10px;
  color: #fff;
  margin-bottom: 10px;
}

.field.address.drop.active .button{
  margin-left: 10px;
  height:50px;
  width: 95%;
}

.phone-drop-cont{
  width: 250px;
  font-size: 16px;
}

.numbers{
  font-size: 18px;
  text-align: left;
  padding: 5px;
}

.numbers:hover{
  background-color: #70707042;
  border-radius: 6px;
}

.add-drop .add-drop-cont,
.phone-drop .phone-drop-cont{
  display: none;
}

.add-drop:hover .add-drop-cont,
.phone-drop:hover .phone-drop-cont{
  display: block;
}

.input-box {
  position: relative;
  margin-top: 5px;
  padding: 5px;
  transition: all 0.4s ease-out;
  width: 100%;
  height: 40px;
}

.field .check {
  align-items: center;
  margin-top: 6px;
  color: #d93025;
  font-size: 13px;
  display: none;
}

.invalid .check {
  display: block;
  text-align: left;
  margin-left: 10px;
}

.input-box input {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  padding: 0 30px;
  color: #333;
  transition: all 0.2s ease;
  border-bottom: 1.5px solid #aaaaaa;
}

.input-box input:focus {
  border-color: #0a7388;
}

.input-box i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  color: #707070;
}

.input-box i.address {
  left: 10px;
}

.input-box input:focus~i.address{
  color: #0a7388;
}

.desktop-view {
  display: flex;
}

.people-counter {
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: left;
  background: #FFF;
  padding: 5px;
  border: none;
  border-bottom: 1px solid #7070708f;
}

.cntr-text {
  display: flex;
  font-size: 16px;
}

.plusr,
.minusr,
.pluso,
.minuso {
  padding: 5px;
  text-align: center;
  font-weight: 600;
  cursor: pointer;
}

.people-counter span.numr
.people-counter span.numo {
  padding-right: 3px;
  padding-left: 3px;
  border-right: 2px solid rgba(0, 0, 0, 0.2);
  border-left: 2px solid rgba(0, 0, 0, 0.2);
  pointer-events: none;
}

.requests-form .button,
.offers-form .button {
  display: flex;
  justify-content: center;
  font-size: 16px;
  border-radius: 5px;
  background: #0e505e;
  border-color: #000000;
  padding: 5px;
  margin-top: 10px;
  color: #fff;
}

.footer{
  height: 50px;
  border: none;
  border-top: 2px solid #000000d0;
  position: absolute;
  bottom: 0%;
  width: 100%;
}

.footer .welcome{
  position: absolute;
  font-size: 16px;
  padding: 10px;
  font-weight: 500;
  right: 0%;
}

.footer .copyright{
  position: relative;
  display: none;
  top: 25%;
  font-size: 14px;
  text-align: center;
}

@media screen and (min-width:370px) {
  .button {
    font-size: 18px;
  }
}

@media screen and (min-width:850px) {
  .footer .copyright{
    display: block;
  }
}

@media screen and (min-width:960px) {
  .module {
    max-width: none;
  }

  .button.burger,
  .burger-container {
    display: none;
  }

  .nav {
    justify-content: space-between;
  }

  .tab-control .button {
    pointer-events: none;
    cursor: not-allowed;
    border-bottom: none;
    font-weight: 500;
    font-size: 20px;
  }

  .requests-tab,
  .announcements-tab,
  .offers-tab {
    width: 33%;
  }

  .requests-tab {
    margin-top: 10px;
  }

  .add-req.active {
    font-size: 20px;
    margin-top: 5px;
  }

  .requests-form.active {
    margin-top: 45px;
  }

  .announcements-tab {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 55px;
  }

  .offers-tab {
    margin-top: 55px;
  }

  .offers-form.active{
    margin-top: 0;
  }
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 0px;
}

::-webkit-scrollbar-thumb {
  background-color: #a3a3a3;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}