@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

div {
  display: block;
}

.header {
  height: 70px;
  width: 100%;
  z-index: 101;
  background-color: #ffffff;
}

.nav {
  width: 95%;
  margin: 0 auto;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: #ffffff;
  border-bottom: 2px solid #000000;
}

.nav_logo {
  font-size: 28px;
  vertical-align: middle;
  color: #0e505e;
  font-weight: 550;
}

.nav .button {
  border: 0;
  cursor: pointer;
  height: 45px;
  padding: 10px;
  overflow: visible;
  position: absolute;
  background-color: transparent;
  font-size: 22px;
  transition: all 0.2s ease-out;
}

.nav .button.logout {
  top: 10px;
  right: 24px;
  width: 45px;
}

.nav .button.burger {
  top: 10px;
  left: 24px;
  width: 45px;
}

.button {
  padding: 5px 10px;
  background: transparent;
  cursor: pointer;
  color: #000000;
  border: none;
  width: 100%;
  font-size: 18px;
}

.button:active {
  transform: scale(0.98);
}

.button.selected {
  transition: all 0.1s ease-out;
  border-bottom: 3px solid #0e505e;
  font-weight: 550;
}

.button.logout:hover {
  color: #ff0000;
}

.button.burger:hover {
  color: #0a7388;
}

i.burgeri,
i.burgerx {
  display: none;
}

i.burgeri.active,
i.burgerx.active {
  display: block;
}

main {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

section {
  flex: 1;
  background-color: #fff;
}

.active-tasks-sect {
  margin-top: 10px;
  display: none;
}

.active-tasks-sect.active,
.map-sect.active {
  display: block;
}

.map-sect {
  display: none;
}

.burger-sect {
  position: relative;
  width: calc(100vw - 40px);
  height: calc(100vh - 140px);
  z-index: 1001;
  display: none;
}

.burger-sect.active {
  display: block;
}

.map {
  height: calc(100vh - 310px);
  transition: all 0.4s ease-out;
  display: none;
  width: 100%
}

.map.active {
  display: flex;
}

.tasks-container {
  margin: auto;
  max-width: 720px;
  transition: all 0.4s ease-out;
}

@media screen and (min-height: 800px) {
  .map {
    height: calc(calc(100vh - 170px) / 2) !important;
  }

  .active-tasks-list {
    max-height: calc(calc(100vh - 240px) / 2) !important;
  }
}

@media screen and (min-width: 960px) {
  main {
    justify-content: space-between;
    flex-direction: row;
  }

  .map {
    height: calc(100vh - 170px) !important;
    max-width: calc(calc(100vw - 40px) / 2);
  }

  .active-tasks-sect {
    margin-right: 10px;
    margin-top: 0;
  }

  .form-container {
    max-width: 560px !important;
  }

  .active-tasks-list {
    max-height: calc(100vh - 210px) !important;
  }

  .tasks-container {
    max-width: calc(calc(100vw - 40px) / 2);
  }

  .information,
  .quantity,
  .datetime,
  .type,
  .leaflet-control {
    font-size: 16px !important;
  }

  .truck-info {
    height: 130px !important;
  }

  .item-title,
  .item-btn,
  .cancelbtn,
  .add-load,
  .remove-load,
  .error,
  .truckNum,
  .truckOwner {
    font-size: 20px !important;
  }

  .item-options li,
  .selected-items-list li,
  .quantity-text,
  .quantity-input,
  .filters-list {
    font-size: 18px !important;
  }

  .filter-btn,
  .truck-title {
    font-size: 24px !important;
  }
}

@media screen and (min-width: 1300px) {
  .map-container {
    max-width: 100vh !important;
  }

  .burger-sect div {
    max-width: calc(calc(100vw - 40px) / 2) !important;
  }
}

/* Home */
.error {
  display: none;
}

.error.active {
  display: flex;
  font-size: 14px;
  color: red;
}

.leaflet-popup-content-wrapper .error {
  font-size: 12px;
}

.burger-container {
  position: relative;
  height: 100%;
  display: block;
}

.cancelbtn,
.clrbtn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
}

.load-confirm-form .cancelbtn,
.unload-confirm-form .cancelbtn {
  justify-content: flex-end;
}

.clr-text {
  padding-left: 5px;
}

.cancell,
.cancelu,
.cancelf {
  cursor: pointer;
  font-size: 18px;
}

.cancelu {
  margin-right: 5px
}

.item-title i.trash {
  color: #9e1414;
  cursor: pointer;
}

.item-select {
  border: none;
  border-bottom: 1px solid #7070708f;
}

.item-drop-sel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
}

.item-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  font-size: 16px;
  border: none;
}

.item-btn:hover,
.item-btn.selected {
  border-bottom: 2px solid #0e505e;
}

.content {
  display: none;
  background: #fff;
}

.content.active {
  display: block;
}

.content .search {
  position: relative;
}

ul {
  list-style-type: none;
}

#search-icon {
  position: absolute;
  top: 15px;
  right: 10px;
  color: #0e505e;
  font-size: 17px;
  cursor: pointer;
  transform: translateY(-50%);
  z-index: 501;
}

.address-search {
  position: relative;
  z-index: 500;
  height: 30px;
  outline: none;
  font-size: 14px;
  border-radius: 5px;
  padding: 0 20px 0 10px;
  border: 1px solid #B3B3B3;
}

.address-search:focus,
.quantity-input:focus {
  border: 2px solid #0e505e;
}

.address-search::placeholder {
  color: #bfbfbf;
}

.leaflet-touch .leaflet-bar {
  border: none !important;
}

.filters-menu {
  display: none;
}

.filters-menu.active {
  display: block;
  position: relative;
}

.filter div {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.filter img {
  margin-right: 10px;
}

.cancelr {
  position: absolute;
  cursor: pointer;
  top: 50px;
  left: 33px;
  height: 30px;
  color: #0e505e;
  font-size: 17px;
  cursor: pointer;
  transform: translateY(-50%);
  position: fixed;
  z-index: 501;
}

.filters-list {
  position: relative;
  padding: 10px;
  border: 1px solid #525151;
  border-radius: 6px;
}

.filter {
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #0e505e;
  margin-right: 10px;
  cursor: pointer;
}

input[type="checkbox"]:checked {
  background-color: #0e505e;
}

.name {
  margin: 0;
}

/* Active Tasks Styling*/
.storage-container {
  margin: auto;
  max-width: 720px;
  max-height: 150px;
  overflow-y: auto;
}

.map-container {
  margin: auto;
  max-width: 720px;
}

.storage-status {
  font-size: 18px;
  font-weight: 550;
  background: transparent;
  color: #000000;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 3px solid #0e505e;
  width: 100%;
}

.list-item {
  position: relative;
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 15px;
  border: 1px solid #525151;
  border-radius: 6px;
  background: #ffffff;
  font-size: 16px;
}

.item-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
}

.item-title .cancel {
  display: flex;
  align-items: center;
  color: black;
  font-size: 16px;
  font-weight: 450;
  cursor: pointer;
}

.item-title .cancelt {
  margin-top: 4px;
  margin-left: 5px;
  font-size: 18px;
  color: #9e1414;
  cursor: pointer;
}

.information,
.quantity,
.datetime,
.type {
  font-size: 13px;
}

.type {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.fa-solid {
  font-weight: 400;
}

.footer {
  height: 50px;
  border: none;
  border-top: 2px solid #000000d0;
  position: absolute;
  bottom: 0%;
  width: 100%;
}

.footer .welcome {
  position: absolute;
  font-size: 16px;
  padding: 10px;
  font-weight: 500;
  right: 0%;
}

.footer .copyright {
  position: relative;
  display: none;
  top: 25%;
  font-size: 14px;
  text-align: center;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 0px;
}

::-webkit-scrollbar-thumb {
  background-color: #a3a3a3;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

.legend {
  background: rgba(255, 255, 255, 0.9);
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}

.legend div {
  display: flex;
  align-items: center;
  margin: 5px;
}

.legend img {
  width: 25px;
  height: 25px;
  margin-right: 8px;
}

.filter-btn {
  display: flex;
  font-size: 20px;
}

.filter-text {
  font-weight: 600;
}

.filter-ico {
  margin-top: 5px;
  margin-right: 5px;
  color: #0a7388;
}

.custom-button {
  background-color: #0e505e;
  width: 100%;
  height: 30px;
  border: none;
  color: white;
  text-align: center;
  display: block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

.load-items-form .button,
.load-quantity-form .button,
.load-confirm-form .button,
.unload-quantity-form .button,
.unload-confirm-form .button {
  background: #0a7388;
  margin-top: 5px;
  width: 100%;
  padding: 5px 0;
  transition: all 0.4s ease-out;
  border-radius: 10px;
  color: #fff;
}

.remove-load {
  display: none;
}

.item-options {
  max-height: calc(100vh - 530px);
  overflow-y: auto;
}

.selected-items-list {
  max-height: calc(100vh - 470px);
  overflow-y: auto;
  border: none;
  border-bottom: 1px solid #7070708f;
}

.selected-items-list li {
  margin: 10px;
}

.item-options {
  display: none;
}

.item-options.active {
  display: block;
}

.item-options li {
  height: 30px;
  font-size: 14px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px;
}

.storage-quantity-form li {
  cursor: auto;
}

.item-options li:hover,
li.selected {
  border-radius: 5px;
  background: #f2f2f2;
}

.down {
  margin-left: 5px;
}

.storage-quantity-form li:hover {
  background: none;
  border-radius: 0px;
}

.form-title {
  font-weight: 600;
  text-align: center;
}

.item-count {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 30px;
}

.item-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.item-available {
  color: #686767;
}

.item-quantity {
  display: flex;
  align-items: center;
  justify-content: left;
  background: #FFF;
  border: none;
}

.quantity-text {
  display: flex;
  align-items: center;
  font-size: 16px;
}

.quantity-input {
  width: 50px;
  height: 25px;
  margin-left: 5px;
  outline: none;
  font-size: 14px;
  border-radius: 5px;
  text-align: center;
  border: 1px solid #B3B3B3;
}

.active-tasks {
  font-size: 18px;
  font-weight: 550;
  background: transparent;
  color: #000000;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 3px solid #0e505e;
  width: 100%;
}

.active-tasks-list {
  margin-top: 10px;
  background: #e0e0e0;
  border-radius: 5px;
  padding: 10px;
  max-height: calc(10vh + 30px);
  overflow-y: auto;
  display: block;
}

.complete-box {
  display: flex;
  align-items: center;
  justify-content: right;
}

.complete {
  display: flex;
  justify-content: right;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 450;
  font-size: 16px;
}

.check {
  display: flex;
  align-items: center;
  font-size: 18px;
  margin-left: 5px;
  color: green;
  font-weight: 450;
}

.truck-info {
  margin: auto;
  max-width: 720px;
  padding: 15px;
  width: 100%;
  height: 120px;
  display: block;
  border-radius: 10px;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
  transition: all 0.2s;
  background: radial-gradient(#4a8492, #0e505e);
}

.truckNum {
  margin-top: 5px;
  font-size: 16px;
  color: #ffffff;
  padding: 0px 10px;
}

.truckOwner {
  font-size: 16px;
  color: #ffffff;
  padding: 0px 10px;
}

.truck-info:hover {
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
  transform: scale(1.01);
}

.truck-title {
  font-size: 20px;
  font-weight: 550;
  padding: 0px 10px;
  background: transparent;
  width: 100%;
  color: #ffffff;
  display: flex;
}

.truck-title i {
  margin-top: 5px;
  font-weight: 550;
}

.truck-title p {
  margin-left: 10px;
}

.rescuer-tab-control {
  transition: all 0.4s ease-out;
  margin: auto;
  max-width: 720px;
  padding: 10px 0px;
  padding-top: 20px;
  display: flex;
  align-items: center;
  width: 100%;
}

.load-tab,
.truckload-tab,
.unload-tab {
  display: none;
}

.load-tab.active,
.truckload-tab.active,
.unload-tab.active {
  margin: auto;
  max-width: 720px;
  display: block;
}

.add-load,
.remove-load {
  display: none;
}

.add-load.active,
.remove-load.active {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 5px;
  font-weight: 700;
  font-size: 15px;
}

.add-load.active i.create,
.remove-load.active i.create {
  font-size: 24px;
  cursor: pointer;
  margin-left: 10px;
  transition: all 0.1s ease-out;
}

.add-load.active i.create:hover,
.remove-load.active i.create:hover {
  color: #0a7388;
}

.load-items-tab {
  margin-top: 10px;
  margin: 0;
  display: none;
}

.load-items-tab.active {
  display: block;
}

.list-item,
.load-items-form,
.load-quantity-form,
.load-confirm-form,
.unload-quantity-form,
.unload-confirm-form {
  transition: all 0.4s ease-out;
  position: relative;
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #525151;
  border-radius: 6px;
  background: #ffffff;
  font-size: 16px;
}

.load-items-form,
.load-quantity-form,
.load-confirm-form,
.unload-quantity-form,
.unload-confirm-form {
  display: none;
}

.load-items-form.active,
.load-quantity-form.active,
.load-confirm-form.active,
.unload-quantity-form.active,
.unload-confirm-form.active {
  display: block;
  position: sticky;
}

.load-items-form .item-list .item.selected {
  background: #1788a19f;
}

.truckload-list {
  margin-top: 10px;
  max-height: calc(100vh - 360px);
  overflow-y: auto;
}

.truckload-list .list-item .quantity {
  display: flex;
  align-items: center;
  justify-content: right;
  font-size: 13px;
  margin-top: 4px;
  font-weight: 450;
}

.max-button {
  margin-left: 10px;
  padding: 5px;
  transition: all 0.4s ease-out;
  cursor: pointer;
  border-radius: 5px;
  background: #23778a;
  border-color: #000000;
  color: #fff;
  border-radius: 6px;
}

.max-button:active {
  background-color: #0e505e;
  transform: scale(0.98);
}