@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

div {
  display: block;
}

.header {
  height: 70px;
  width: 100%;
  z-index: 101;
  background-color: #ffffff;
}

.nav {
  width: 95%;
  margin: 0 auto;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: #ffffff;
  border-bottom: 2px solid #000000;
}

.nav_logo {
  font-size: 28px;
  vertical-align: middle;
  color: #0e505e;
  font-weight: 550;
}

.nav .button {
  border: 0;
  cursor: pointer;
  height: 45px;
  padding: 10px;
  overflow: visible;
  position: absolute;
  background-color: transparent;
  font-size: 22px;
  transition: all 0.2s ease-out;
}

.nav .button.logout {
  top: 10px;
  right: 24px;
  width: 45px;
}

.nav .button.burger {
  top: 10px;
  left: 24px;
  width: 45px;
}

.button {
  padding: 5px 10px;
  background: transparent;
  cursor: pointer;
  color: #000000;
  border: none;
  width: 100%;
  font-size: 18px;
}

.button:active {
  transform: scale(0.98);
}

.button.selected {
  transition: all 0.1s ease-out;
  border-bottom: 3px solid #0e505e;
  font-weight: 550;
}

.button.logout:hover {
  color: #ff0000;
}

.button.burger:hover {
  color: #0a7388;
}

i.burgeri,
i.burgerx {
  display: none;
}

i.burgeri.active,
i.burgerx.active {
  display: block;
}

main {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

section {
  flex: 1;
  background-color: #fff;
}

.storage-sect {
  margin-top: 10px;
  display: none;
}

.storage-sect.active,
.map-sect.active {
  display: block;
}

.map-sect {
  display: none;
}

.burger-sect {
  position: absolute;
  width: calc(100vw - 40px);
  height: calc(100vh - 140px);
  z-index: 1001;
  display: none;
}

.burger-sect.active {
  display: block;
}

.rescuer-acc-sect,
.ann-create-sect,
.storage-mngmt-sect,
.statistics-sect {
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 160px);
  display: none;
}

.storage-mngmt-sect {
  flex-direction: column;
  justify-content: flex-start;
}

.rescuer-acc-sect.active,
.ann-create-sect.active,
.storage-mngmt-sect.active,
.statistics-sect.active {
  display: flex;
  gap: calc(100vh - 90vh + 15px);
}

.map {
  height: calc(100vh - 310px);
  display: none;
}

.map.active {
  display: flex;
}

@media screen and (min-width: 960px) {
  main {
    justify-content: space-between;
    flex-direction: row;
  }

  .map {
    height: calc(100vh - 170px) !important;
  }

  .storage-sect {
    margin-right: 10px;
    margin-top: 0;
  }

  .form-container {
    max-width: 560px !important;
  }

  .ann-text-form,
  .ann-items-form,
  .ann-confirm-form,
  .storage-quantity-form,
  .storage-confirm-form,
  .goods-items-form,
  .storage-items-form,
  .transfered-items-tab .button,
  .upload-form,
  .url-form {
    max-width: 720px !important;
  }
}

@media screen and (min-width: 1300px) {
  .map {
    max-width: 1000px;
  }

  .map-container {
    max-width: 1000px !important;
  }

  .storage-container {
    max-width: 960px !important;
  }
}

/* Home */
.error {
  display: none;
}

.error.active {
  display: flex;
  font-size: 14px;
  color: red;
}

.leaflet-popup-content-wrapper .error {
  font-size: 12px;
}

.burger-container {
  position: relative;
  height: 100%;
  display: block;
}

.cancelbtn,
.clrbtn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
}

.clr-text {
  padding-left: 5px;
}

.cancell,
.cancelu,
.cancela,
.cancels,
.cancelf,
.cancelupd,
.brooma {
  cursor: pointer;
  font-size: 18px;
}

.cancelu {
  margin-left: 5px;
}

.broomr {
  margin-top: 3px;
}

.item-title i.trash {
  color: #9e1414;
  cursor: pointer;
}

.item-select {
  border: none;
  border-bottom: 1px solid #7070708f;
}

.item-drop-sel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
}

.item-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  font-size: 16px;
  border: none;
}

.item-btn:hover,
.item-btn.selected {
  border-bottom: 2px solid #0e505e;
}

.content {
  display: none;
  background: #fff;
}

.content.active {
  display: block;
}

.content .search {
  position: relative;
}

ul {
  list-style-type: none;
}

#search-icon {
  position: absolute;
  top: 15px;
  right: 10px;
  color: #0e505e;
  font-size: 17px;
  cursor: pointer;
  transform: translateY(-50%);
  z-index: 501;
}

.address-search {
  position: relative;
  z-index: 500;
  height: 30px;
  outline: none;
  font-size: 14px;
  border-radius: 5px;
  padding: 0 20px 0 10px;
  border: 1px solid #B3B3B3;
}

.address-search:focus,
.quantity-input:focus {
  border: 2px solid #0e505e;
}

.address-search::placeholder {
  color: #bfbfbf;
}

.leaflet-touch .leaflet-bar {
  border: none !important;
}

.filters-menu {
  display: none;
}

.filters-menu.active {
  display: block;
  position: relative;
}

.pending-request,
.executing-request,
.pending-offer,
.executing-offer,
.line {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.cancelr {
  position: absolute;
  cursor: pointer;
  top: 50px;
  left: 33px;
  height: 30px;
  color: #0e505e;
  font-size: 17px;
  cursor: pointer;
  transform: translateY(-50%);
  position: fixed;
  z-index: 501;
}

.filters-list {
  position: relative;
  padding: 10px;
}

.filter {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 5px;
}

input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #0e505e;
  margin-right: 10px;
  cursor: pointer;
}

input[type="checkbox"]:checked {
  background-color: #0e505e;
}

.pending-request,
.executing-request,
.pending-offer,
.executing-offer,
.line {
  display: flex;
  align-items: center;
}

.pending-request img,
.executing-request img,
.pending-offer img,
.executing-offer img,
.line img {
  margin-right: 10px;
}

.name {
  margin: 0;
}

/* Active Tasks Styling*/
.storage-container {
  margin: auto;
  max-width: 720px;
  max-height: 150px;
  overflow-y: auto;
}

.map-container {
  margin: auto;
  max-width: 720px;
}

@media screen and (min-width: 960px) {

  .statistics,
  .rescuer-account,
  .announcement-creation,
  .storage-mngmt {
    max-width: 720px;
  }
}

.storage-status {
  font-size: 18px;
  font-weight: 550;
  background: transparent;
  color: #000000;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 3px solid #0e505e;
  width: 100%;
}

.list-item {
  position: relative;
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 15px;
  border: 1px solid #525151;
  border-radius: 6px;
  background: #ffffff;
  font-size: 16px;
}

.item-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
}

.item-title .cancel {
  display: flex;
  align-items: center;
  color: black;
  font-size: 16px;
  font-weight: 450;
  cursor: pointer;
}

.item-title .cancelt {
  margin-top: 4px;
  margin-left: 5px;
  font-size: 18px;
  color: #9e1414;
  cursor: pointer;
}

.information,
.quantity,
.datetime,
.type {
  font-size: 13px;
}

.type {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.fa-solid {
  font-weight: 400;
}

.footer {
  height: 50px;
  border: none;
  border-top: 2px solid #000000d0;
  position: absolute;
  bottom: 0%;
  width: 100%;
}

.footer .welcome {
  position: absolute;
  font-size: 16px;
  padding: 10px;
  font-weight: 500;
  right: 0%;
}

.footer .copyright {
  position: relative;
  display: none;
  top: 25%;
  font-size: 14px;
  text-align: center;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 0px;
}

::-webkit-scrollbar-thumb {
  background-color: #a3a3a3;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

.legend {
  background: rgba(255, 255, 255, 0.9);
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}

.legend div {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.legend img {
  width: 25px;
  height: 25px;
  margin-right: 8px;
}

@media screen and (max-width: 960px) {
  .legend {
    font-size: 10px;
  }

  .legend div {
    margin-bottom: 4px;
  }

  .legend img {
    width: 10px;
    height: 10px;
  }
}

.filter-btn {
  display: flex;
}

.filter-text {
  font-size: 20px;
  font-weight: 600;
}

.filter-ico {
  margin-top: 5px;
  margin-right: 5px;
  font-size: 20px;
  color: #0a7388;
}

.custom-button {
  background-color: #0e505e;
  width: 100%;
  height: 30px;
  border: none;
  color: white;
  text-align: center;
  display: block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

table {
  width: 100%;
  border: 1px solid rgba(48, 48, 48, 0.301);
  margin-top: 5px;
}

table,
th,
td {
  border-collapse: collapse;
  padding: 5px;
  text-align: center;
}

thead th {
  position: relative;
  text-align: center;
  background-color: #d5d1defe;
  text-transform: capitalize;
}

tbody tr {
  border: 1px solid rgba(48, 48, 48, 0.301);
}

tbody tr:hover {
  background-color: #136c807e;
}

thead th.active,
tbody td.active {
  color: #6c00bd;
}

.dropdown .dropbtn {
  cursor: pointer;
  overflow: hidden;
  font-size: 16px;
  font-weight: bold;
  border: none;
  outline: none;
  background-color: inherit;
  font-family: inherit;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 5px;
  top: 40px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.cat-selection {
  display: flex;
  padding: 5px;
  align-items: center;
  color: #000000;
}

.burger-menu {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  text-align: center;
  margin: auto;
  padding: 35px;
  height: 100%;
}

.burger-item {
  position: relative;
  font-size: 24px;
  padding: 10px;
  font-weight: 500;
  cursor: pointer;
  text-align: center;
}

.burger-item:hover {
  background: #0a73888f;
  border-radius: 7px;
  transition: 0.2s ease-in;
}

.form-container {
  position: relative;
  margin: 10px;
  max-width: 370px;
  width: 100%;
  z-index: 101;
  background: #fff;
  border: 1px solid #074957a4;
  padding: 25px;
  border-radius: 12px;
  transition: all 0.4s ease-out;
  pointer-events: auto;
}

.signup_form {
  display: block;
}

.form .title {
  font-size: 18px;
  color: #0b0217;
  text-align: center;
}

.input-box {
  position: relative;
  margin-top: 5px;
  transition: all 0.4s ease-out;
  width: 100%;
  height: 40px;
}

.input-box input {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  padding: 0 30px;
  color: #333;
  transition: all 0.2s ease;
  border-bottom: 1.5px solid #aaaaaa;
}

.input-box input:focus {
  border-color: #0a7388;
}

.input-box i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  color: #707070;
}

.input-box i.user,
.input-box i.fname,
.input-box i.phone,
.input-box i.address,
.input-box i.truck,
.input-box i.password {
  left: 0;
}

.input-box input:focus~i.user,
.input-box input:focus~i.fname,
.input-box input:focus~i.phone,
.input-box input:focus~i.truck,
.input-box input:focus~i.address,
.input-box input:focus~i.password,
.input-box input:focus~i.pw_hide {
  color: #0a7388;
}

.input-box i.pw_hide {
  right: 0;
  font-size: 20px;
  cursor: pointer;
}

.option_field {
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.field {
  margin-bottom: 10px;
  margin-top: 10px
}

form .input-box {
  position: relative;
  height: 40px;
  width: 100%;
}

.form-container a {
  color: #0a7388;
  font-size: 12px;
  text-decoration: none;
}

.form-container a:hover {
  text-decoration: underline;
}

.form-container .button,
.ann-text-form .button,
.ann-items-form .button,
.ann-confirm-form .button,
.transfered-items-tab .button,
.storage-update-tab .button,
.storage-confirm-form .button {
  background: #0a7388;
  margin-top: 5px;
  width: 100%;
  padding: 5px 0;
  transition: all 0.4s ease-out;
  border-radius: 10px;
  color: #fff;
}

.transfered-items-tab .button {
  max-width: 560px;
}

/* Signup Form Styling */
.field .password-check {
  margin-top: 10px;
  position: relative;
  top: calc(100%);
  width: 100%;
  padding: 20px 30px;
  background: #dadada46;
  border-radius: 6px;
  display: none;
}

.field.password.active .password-check {
  position: relative;
  transform: translateY(0);
  display: block;
}

.field .check,
.field .check1,
.field .checklogin {
  align-items: center;
  margin-top: 6px;
  color: #d93025;
  font-size: 13px;
  display: none;
}

.invalid .check,
.invalid .checklogin {
  display: flex;
  align-items: center;
}

.duplicate .check1 {
  display: flex;
  align-items: center;
}

.check-title {
  font-size: 15px;
  margin-bottom: 10px;
}

.checklist {
  list-style: none;
}

.checklist-item {
  font-size: 14px;
  padding-left: 30px;
}

.checklist-item::before {
  content: '\f00d \00a0';
  font-family: FontAwesome;
  display: inline-block;
  margin: 8px 0;
  margin-left: -30px;
}

.checklist-item.checked {
  opacity: 0.6;
}

.checklist-item.checked::before {
  content: '\f00c \00a0';
  color: #00000046;
}

.storage-update-tab,
.transfered-items-tab,
.update-goods-tab {
  display: none;
  align-self: center;
  justify-content: center;
  width: 100%;
}

.transfered-items-tab,
.update-goods-tab {
  flex-direction: column;
  align-items: center;
}

.ann-tab,
.storage-update-tab.active,
.transfered-items-tab.active,
.update-goods-tab.active {
  display: flex;
}

.add-ann,
.remove-load {
  display: none;
}

.add-ann.active {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 5px;
  font-weight: 700;
  font-size: 15px;
  margin-top: 10px;
}

.add-ann.active i.create {
  font-size: 24px;
  cursor: pointer;
  margin-left: 10px;
  transition: all 0.1s ease-out;
}

.ann-create-tab {
  margin-top: 100px;
  display: none;
}

.ann-create-tab.active {
  display: block;
}

.ann-text-form,
.ann-items-form,
.ann-confirm-form,
.goods-items-form,
.storage-items-form,
.storage-quantity-form,
.storage-confirm-form,
.upload-form,
.url-form {
  position: relative;
  width: 100%;
  max-width: 560px;
  padding: 25px;
  margin-top: 5px;
  margin-bottom: 15px;
  border: 1px solid #525151;
  border-radius: 6px;
  background: #ffffff;
  font-size: 16px;
  transition: all 0.4s ease-out;
  display: none;
}

.goods-items-form,
.storage-items-form,
.storage-quantity-form,
.storage-confirm-form,
.upload-form,
.url-form {
  padding: 15px;
  margin-bottom: 10px;
}

.ann-text-form.active,
.ann-items-form.active,
.ann-confirm-form.active,
.goods-items-form.active,
.storage-items-form.active,
.storage-quantity-form.active,
.storage-confirm-form.active,
.upload-form.active,
.url-form.active {
  display: block;
}

.ann-text-form .input-box input {
  padding: 0;
}

.ann-confirm-form .cancelbtn,
.storage-confirm-form .cancelbtn {
  justify-content: flex-end;
  padding: 0;
}

.item-options {
  max-height: 150px;
  overflow-y: auto;
}

.transfered-items-tab .item-options,
.items-list {
  max-height: 85px;
  overflow-y: auto;
}

.item-options {
  display: none;
}

.item-options.active {
  display: block;
}

.item-options li {
  height: 30px;
  font-size: 14px;
  cursor: pointer;
}

.storage-quantity-form li {
  cursor: auto;
}

.item-options li:hover,
li.selected {
  border-radius: 5px;
  background: #f2f2f2;
}

.storage-quantity-form li:hover {
  background: none;
  border-radius: 0px;
}

.form-title {
  font-weight: 600;
  text-align: center;
}

.item {
  padding: 5px;
}

.storage-tab-control {
  padding: 10px 0px;
  padding-top: 0px;
  display: flex;
  align-items: flex-start;
  width: 100%;
}

.exchange-ico,
.or-icon {
  display: flex;
  justify-content: center;
  font-size: 20px;
  margin-bottom: 10px;
  color: #0e505e;
}

.or-icon {
  font-weight: 600;
  font-size: 24px;
}

.item-count {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 30px;
}

.item-quantity {
  display: flex;
  align-items: center;
  justify-content: left;
  background: #FFF;
  border: none;
}

.quantity-text {
  display: flex;
  align-items: center;
  font-size: 16px;
}

.quantity-input {
  width: 50px;
  height: 25px;
  margin-left: 5px;
  outline: none;
  font-size: 14px;
  border-radius: 5px;
  text-align: center;
  border: 1px solid #B3B3B3;
}

.reset-button {
  margin-left: 10px;
  padding: 5px;
  transition: all 0.4s ease-out;
  cursor: pointer;
  border-radius: 5px;
  background: #23778a;
  border-color: #000000;
  color: #fff;
  border-radius: 6px;
}

.reset-button:active {
  background-color: #0e505e;
  transform: scale(0.98);
}

input[type="file"] {
  display: none;
}

label,
.url-button {
  display: block;
  position: relative;
  background-color: #0d6a8f;
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  width: 100%;
  padding: 10px 0;
  border-radius: 10px;
  cursor: pointer;
}

.upload-files {
  display: block;
  position: relative;
  background-color: #0d6a8f;
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  width: 100%;
  padding: 10px 0;
  border-radius: 10px;
  cursor: pointer;
}

#num-of-files {
  font-weight: 400;
  text-align: center;
  margin: 10px 0 5px 0;
}

.upload-form li {
  font-weight: 500;
  background-color: #eff5ff;
  color: #0d6a8f;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
}

.details {
  display: flex;
  align-items: center;
}

.file-input {
  display: none;
}

.file.input.active {
  display: block;
}

.file-label {
  display: none;
}

.file-label.active {
  display: block;
}

/*Statistics*/
.chartMenu {
  width: 100vw;
  height: 40px;
  background: #1A1A1A;
  color: rgba(54, 162, 235, 1);
}
.chartMenu p {
  padding: 10px;
  font-size: 20px;
}
.chartCard {
  width: 100vw;
  height: calc(100vh - 40px);
  background: rgba(54, 162, 235, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
}
.chartBox {
  /*width: 700px;*/
  padding: 20px;
  border-radius: 20px;
  border: solid 3px rgba(54, 162, 235, 1);
  background: white;
}
.container{
  width: 700px;
  max-width: 700px;
  overflow-x: scroll;
}
.containerBody{
  height: 500px;
}

#customLegend{
  margin-top: 15px;
}

#customLegend ul{
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
}

#customLegend li{
  display: flex;
  align-items: center;
  cursor: pointer;
  flex-direction: row;
  margin-bottom: 5px;
  line-height: 22px;
}

#customLegend span{
  display: inline-block;
  height: 20px;
  width: 20px;
  margin-right: 4px;
  border-style: solid;
  border-width: 1px;
}

#customLegend li p{
  margin-right: 20px;
  padding: 0;
  color: rgba(102, 102, 102, 1);
}

#customLegend li.fade p{
  margin: 0;
  padding: 0;
  color: rgba(102, 102, 102, 0.5);
}